<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/styles-form.css">
</head>

<body>
    <%- include('../partials/header')%>
        <main>
            <form class="register" action="/users/domicilios/create/<%= user.id%>" method="POST">
                <h2 class="titulo">Agrega un domicilio <%= user.name%>!</h2>
                <section class="ventana-error">
                    <% if (validator==1) { %>
                        <%= message %>
                            <% } %>
                </section>
 
                <div class="telefono">
                    <i class="fas fa-map-marked-alt"></i>
                    <input type="text" id="calle" name="calle" placeholder="Domicilio" class="campo"
                        value="<%=locals.old_data ? old_data.calle :null%>">
                    <% if (locals.errors && errors.calle) { %>
                        <div class="mensaje-error">
                            <%= errors.calle.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="telefono">
                    <i class="fas fa-map-marked-alt"></i>
                    <input type="text" id='cp' name="cp" placeholder="Código Postal" class="campo"
                        value="<%=locals.old_data ? old_data.cp : null%>">
                    <% if (locals.errors && errors.cp) { %>
                        <div class="mensaje-error">
                            <%= errors.cp.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="subir-foto telefono">
                    <select name="pais" id="pais" class="campo">
                        <option hidden value="">País</option>
                        <% for (pais of paises) { %>
                            <option value="<%=pais.dataValues.id%>" 
                                <%=(locals.old_data && old_data.pais==pais.dataValues.id) ? 'selected' : null %>
                                >
                                <%=pais.dataValues.nombre%>
                            </option>
                            <% } %>
                    </select>
                    <i class="fas fa-map-marked-alt"></i>
                    <% if (locals.errors && errors.pais) { %>
                        <div class="mensaje-error">
                            <%= errors.pais.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="subir-foto telefono">
                    <select name="provincia" id="provincia" class="campo">
                        <option hidden value="">Provincia</option>

                        
                        <!-- <% for (provincia of provincias) { %>
                            <option value="<%=provincia.dataValues.id%>" <%=(locals.old_data &&
                                old_data.provincia==provincia.dataValues.id) ? 'selected' : null %>
                                >
                                <%=provincia.dataValues.nombre%>
                            </option>
                            <% } %> -->
                    </select>
                    <i class="fas fa-map-marked-alt"></i>
                    <% if (locals.errors && errors.provincia) { %>
                        <div class="mensaje-error">
                            <%= errors.provincia.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="telefono">
                    <i class="fas fa-map-marked-alt"></i>
                    <input type="text" id='localidad' name="localidad" placeholder="Localidad" class="campo"
                        value="<%=locals.old_data ? old_data.localidad :null%>">
                    <% if (locals.errors && errors.localidad) { %>
                        <div class="mensaje-error">
                            <%= errors.localidad.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="recuerda">
                    <input type="checkbox" name="envio" id="envio" value="true" class="check" <%=(locals.old_data &&
                        old_data.envio) ? "checked" : null %>
                    >
                    <label for="envio"> Domicilio de envío</label>
                </div>
                <div class="botones">
                    <button type="submit" class="submit">Confirmar</button>
                </div>
            </form>
        </main>

        <article class="icon llamar">
            <i class="fas fa-phone-alt"></i>
        </article>

        <%- include('../partials/footer')%>

</body>

</html>