<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/styles-form.css">
        <link rel="stylesheet" href="/css/profile.css">
        <!-- <link rel="stylesheet" href="/css/productCart.css"> -->
</head>

<body>
    <%- include('../partials/header')%>
        <main>
            <section class="container">
                <div class="register">
                    <h2 class="titulo">Bienvenid@ <%= user.name%>!</h2>
                    <div class="profile-photo-cont">
                        <div class="icon-login">
                            <img src="/img/users/<%= user.image%>" alt="">
                        </div>
                        <p id="text-foto-perfil">
                            Foto de perfil
                        </p>
                    </div>
                    <p class="text">
                        <strong> Nombre: </strong><span class="text-datos">
                            <%= user.name%>
                        </span>
                    </p>
                    <p class="text">
                        <strong> Apellido: </strong><span class="text-datos">
                            <%= user.last_name%>
                        </span>
                    </p>
                    <p class="text">
                        <strong> Email: </strong><span class="text-datos">
                            <%= user.email%>
                        </span>
                    </p>
                    <p class="text">
                        <strong> Telefono: </strong><span class="text-datos">
                            <%= user.telefono%>
                        </span>
                    </p>
                    <p class="text">
                        <strong> Metodos de pago: </strong>
                        <% if (user.medio_pago) { %>
                            <span class="text-datos">
                                <%= user.medio_pago %>
                            </span>
                            <% } else {%>
                                <span class="text-datos"> No tienes medio de pago </span>
                            <% } %>
                    </p>
                    <div class="botones">
                        <a href="/users/profile/<%=user.id%>/edit">EDITAR PERFIL</a>
                    </div>
                    
                        <% if (domicilio) { %>
                            <% for(let i = 0; i < domicilio.length; i++) { %>
                                <p class="text">
                                  <strong> Domicilio <%= i+1%>: </strong>
                            <span class="text-datos">
                                <%= `${domicilio[i].calle}, CP ${domicilio[i].cp}, ${domicilio[i].localidad}, 
                                ${domicilio[i].provincias.nombre}, ${domicilio[i].paises.nombre}`%>
                                <% if (domicilio[i].envio) {%>
                                   <b> <%="- Domicilio de Envio Seleccionado"%></b>
                                    <% } %>
                            </span>
                            <div class="info-btn edit-dom">
                                <a href="/users/domicilios/<%=domicilio[i].id%>">Editar</a>
                            </div>
                            </p>
                        <% } %>
                        <% } else {%>
                            <p class="text">
                                <strong> Domicilio: </strong>
                            <span class="text-datos"> <%= "No tienes domicilio" %>
                            </span>
                            </p>
                        <% } %>
                    <div class="botones">
                        <a href="/users/domicilios/create/<%=user.id%>">AGREGAR DOMICILIO</a>
                    </div>
                </div>
            </section>
            <section class="products-display">
                <h3 class="titulo">
                    <%= user.name%>, este es tu carrito de compra
                </h3>
                <article class="product-preview user-cart">
                    <div class="product-list">
                        <% if (cart.length>0) { %>
                            <% for( let i=0; i < cart.length; i++ ) { %>
                                <article class="product display-cart-profile">
                                    <div class="cart-items">
                                        <% if (cart[i].producto.imagenes.length>0){ %>
                                            <a href="/products/detail/<%= cart[i].producto.id %> " class="a-profile"><img
                                                    src="/img/products/<%=cart[i].producto.imagenes[0].imagen%>" alt="imagen producto"
                                                    class="product-image"></a>
                                            <% } else {%>
                                                <a href="/products/detail/<%= cart[i].producto.id %>" class="a-profile"><img src="/img/products/default.jpg"
                                                        alt="imagen producto" class="product-image"></a>
                                                <% } %>
                                           
                                    <h3 class="center">
                                        <%=cart[i].producto.nombre%>
                                    </h3>
                                    <h3 class="product-cost">
                                        <%=(Number(cart[i].producto.precio * cart[i].cantidad)).toLocaleString('es-AR',
                                            {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency' , currency: 'ARS' })%>
                                    </h3>
                                    </div>
                                </article>
                            <% } %>
                            <div class="btn-ir-carrito">
                            <div class="info-btn edit-dom plus">
                                <a href="/products/cart">Ir al Carrito</a>
                            </div>
                            </div>
                        <% } else { %>
                            <div class="emptyCart">
                                <p>TU CARRITO ESTA VACIO</p>
                            </div>
                        <% } %>
                        
                    </div>
                </article>
            </section>
        </main>
        <article class="icon llamar">
            <i class="fas fa-phone-alt"></i>
        </article>
        <%- include('../partials/footer')%>

</body>

</html>