<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/styles-form.css">
</head>

<body>
    <%- include('../partials/header')%>

        <main>
            <form class="register" action="/users/register" method="POST">
                <h2 class="titulo">Crear Cuenta</h2>
                <section class="ventana-error">
                    <% if (validator==1) { %>
                        <%= message %>
                            <% } %>
                </section>
                <div class="nombre">
                    <i class="fas fa-user-circle"></i>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="campo"
                        value="<%= locals.old_data ? old_data.nombre : '' %>">
                </div>
                <div class="nombre">
                    <i class="fas fa-user-circle"></i>
                    <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="campo"
                        value="<%= locals.old_data ? old_data.apellido : '' %>">
                </div>
                <div class="email">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Email" class="campo"
                        value="<%= locals.old_data ? old_data.email : '' %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="mensaje-error">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="telefono">
                    <i class="fas fa-phone-alt"></i>
                    <input type="number" id="telefono" name="telefono" placeholder="Telefono" class="campo"
                        value="<%= locals.old_data ? old_data.telefono : '' %>">
                    <% if (locals.errors && errors.telefono) { %>
                        <div class="mensaje-error">
                            <%= errors.telefono.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="password">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required class="campo">
                    <% if (locals.errors && errors.password) { %>
                        <div class="mensaje-error">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="confirm-pass">
                    <i class="fas fa-user-lock"></i>
                    <input type="password" id="confPass" name="confirmPass" placeholder="Confirmar Contraseña" required class="campo">
                </div>
                <div class="recuerda">
                    <input type="checkbox" name="recuerda" id="recuerda" value="true" class="check">
                    <label for="recuerda"> Recuerdame</label>
                </div>
                <div class="botones">
                    <button type="submit" class="submit">Confirmar</button>
                </div>
            </form>
        </main>
        <article class="icon llamar">
            <i class="fas fa-phone-alt"></i>
        </article>
        <%- include('../partials/footer')%>

</body>

</html>