<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head')%>
</head>
<body>

    <%- include('./partials/header')%>

    <main>
        <div class="banner">
            <img src="/img/BANNER.jpg" alt="" class="banner-pic">
        </div>
        <section class="products-display">
            <% for (let i = 0; i < 4; i++) {%> 
            <article class="product-preview">
                <div class="product-pic">
                    <img src="/img/<%= productsH[i].image[0]%> " alt="imagen de producto">
                </div>
                <div class="product-description">
                    <p><%= productsH[i].name%> </p>
                </div>
                <div class="info-btn">
<<<<<<< HEAD
                    <a href="/products/detail/<%=productsH[i].id%> ">+INFO</a>
=======
                    <a href="/products">+INFO</a>
                </div>
            </article>
            <article class="product-preview">
                <div class="product-pic">
                    <img src="/img/pc2.webp" alt="">
                </div>
                <div class="product-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="info-btn">
                    <a href="/products">+INFO</a>
                </div>
            </article>
            <article class="product-preview">
                <div class="product-pic">
                    <img src="/img/pc3.webp" alt="">
                </div>
                <div class="product-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="info-btn">
                    <a href="/products">+INFO</a>
                </div>
            </article>
            <article class="product-preview">
                <div class="product-pic">
                    <img src="/img/placa.jpg" alt="">
                </div>
                <div class="product-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="info-btn">
                    <a href="/products">+INFO</a>
>>>>>>> c048428c2f6cb1ca89bbdc38be53652a06e251b0
                </div>
            </article>
            <% } %> 
        </section>

        <section class="build">
            <img src="/img/build.jpg" alt="" class="build-pic">
            <div class="build-desc"> 
                <h2 class="build-titulo">ARMA TU PC</h2>
                <p class="text-build-description">Lorem ipsum dolor sit amet consectetur Qui nostrum deleniti quae.</p>
            </div>
        </section>

        <article class="icon llamar">
            <i class="fas fa-phone-alt"></i>
        </article>
    </main>

    <%- include('./partials/footer')%>
    
</body>
</html>