<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
</head>

<body>

    <%- include('./partials/header')%>

        <main>
            <div class="banner">
                <img src="/img/BANNER.jpg" alt="" class="banner-pic">
            </div>
            <section class="products-display">
                <% for (let i=0; i < 4; i++) {%>
                    <article class="product-preview">
                        <div class="product-pic"><a href="/products/detail/<%=productsH[i].id%> ">
                                <img src="/img/products/<%= productsH[i].imagenes[0].imagen%> "
                                    alt="imagen de producto"></a>
                        </div>
                        <div class="product-description">
                            <p>
                                <%= productsH[i].nombre%>
                            </p>
                        </div>
                        <div class="info-btn">
                            <a href="/products/detail/<%=productsH[i].id%> ">+INFO</a>
                        </div>
                    </article>
                    <% } %>
            </section>

            <section class="build">
                <img src="/img/build.jpg" alt="" class="build-pic">
                <div class="build-desc">
                    <h2 class="build-titulo">ARMA TU PC</h2>
                    <p class="text-build-description">Lorem ipsum dolor sit amet consectetur Qui nostrum deleniti quae.
                    </p>
                </div>
            </section>

            <article class="icon llamar">
                <a href="tel:08002224444">
                    <i class="fas fa-phone-alt"></i>
                </a>
            </article>
        </main>

        <%- include('./partials/footer')%>

</body>

</html>