<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/styles-form.css">
</head>
<body>
    <%- include('../partials/headerU')%>
    <%- include('../partials/user')%>
    <main>
        <form class="register" action="/users/edit/<%= user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h2 class="titulo">Edita tu perfil <%= user.nombre%>!</h2>
                <section class="ventana-error">
                    <% if (validator==1) { %>
                        <%= message %>
                            <% } %>
                </section>
            <div class="nombre">
                <i class="fas fa-user-circle"></i>
                <input type="text" name="nombre" placeholder="Nombre y Apellido" required class="campo" value=<%= user.nombre%>>
            </div>
            <div class="subir-foto telefono">
                <label for="image">Seleccione un medio de pago</label>
                
                <select name="medioPago" id="medioPago" class="campo">
                    <option value="VISA">VISA</option>
                    <option value="AMEX">AMEX</option>
                    <option value="Efectivo">Efectivo</option>
                </select>
                <i class="far fa-credit-card combo"></i>
            </div>
            <div class="telefono">
                <i class="fas fa-phone-alt"></i>
                <input type="number" name="telefono" placeholder="Telefono" class="campo" value=<%= user.telefono%>>
            </div>
            <div class="telefono">
                <i class="fas fa-map-marked-alt"></i>
                <input type="text" name="domicilio" placeholder="Domicilio" class="campo" value=<%=user.domicilio%>>
            </div>
            <div class="password">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Contraseña" class="campo">
            </div>
            <div class="confirm-pass">
                <i class="fas fa-user-lock"></i>
                <input type="password" name="confirm-pass" placeholder="Confirmar Contraseña" class="campo">
            </div>
            <div class="subir-foto telefono">
                <label for="image">Sube una foto de perfil</label>
                
                <input type="file" name="image" id="image" class="campo">
                <i class="fas fa-camera combo"></i>
            </div>
            <div class="recuerda">
                <input type="checkbox" name="recuerda" id="recuerda" value="true" class="check">
                <label for="recuerda"> Recuerdame</label>
            </div>
            <div class="botones">
                <button type="submit" class="submit">Confirmar</button>
            </div>
        </form>
    </main>

    <article class="icon llamar">
        <i class="fas fa-phone-alt"></i>
    </article>

    <%- include('../partials/footer')%>
    
</body>
</html>