<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/styles-form.css">
</head>

<body>
    <%- include('../partials/header')%>
        <main>
            <form class="register" action="/users/domicilios/edit/<%= user.id%>?_method=PUT" method="POST">
                <h2 class="titulo">Agrega un domicilio <%= user.name%>!</h2>
                <section class="ventana-error">
                    <% if (validator==1) { %>
                        <%= message %>
                            <% } %>
                </section>
 
                <div class="telefono">
                    <i class="fas fa-map-marked-alt"></i>
                    <input type="text" name="calle" placeholder="Domicilio" class="campo"
                        value="<%=userAddress[0].calle%>">
                </div>
                <div class="telefono">
                    <i class="fas fa-map-marked-alt"></i>
                    <input type="text" name="cp" placeholder="Código Postal" class="campo" value="<%=userAddress[0].cp%>">
                </div>
                <div class="subir-foto telefono">
                    <select name="pais" id="pais" class="campo">
                        <option hidden value="">País</option>
                        <% for (pais of paises) { %>
                            <option value="<%=pais.dataValues.id%>" 
                            <%=userAddress.dataValues &&
                                (userAddress.dataValues.pais.id==pais.dataValues.id) ? 'selected' : null %>
                                >
                                <%=pais.dataValues.nombre%>
                            </option>
                            <% } %>
                    </select>
                    <i class="fas fa-map-marked-alt"></i>
                </div>
                <div class="subir-foto telefono">
                    <select name="provincia" id="provincia" class="campo">
                        <option hidden value="">Provincia</option>
                        <% for (provincia of provincias) { %>
                            <option value="<%=provincia.dataValues.id%>" 
                            <%=userAddress.dataValues && 
                            (userAddress.provincia.id==provincia.dataValues.id)
                                ? 'selected' : null %>
                                >
                                <%=provincia.dataValues.nombre%>
                            </option>
                            <% } %>
                    </select>
                    <i class="fas fa-map-marked-alt"></i>
                </div>
                <div class="telefono">
                    <i class="fas fa-map-marked-alt"></i>
                    <input type="text" name="localidad" placeholder="Localidad" class="campo" value="<%=user.domicilio%>">
                </div>
                <div class="recuerda">
                    <input type="checkbox" name="tipo_dom_env" id="tipo_dom_env" value="true" class="check">
                    <label for="tipo_dom_env"> Domicilio de envío</label>
                </div>
                <div class="botones">
                    <button type="submit" class="submit">Confirmar</button>
                </div>
            </form>
        </main>

        <article class="icon llamar">
            <i class="fas fa-phone-alt"></i>
        </article>

        <%- include('../partials/footer')%>

</body>

</html>