<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/products.css">
</head>


<body>
    <header>
        <%- include('../partials/header')%>
    </header>
    <main>
        <% if (products.length> 0) {%>

            <section class="products-display">
                <% for (let i=0; i < products.length; i++) {%>
                    <article class="product-preview">
                        <div class="product-pic">
                            <% if (products[i].imagenes.length> 0) { %>
                                <a href="/products/detail/<%= products[i].id %> ">
                                    <img src="/img/products/<%= products[i].imagenes[0].imagen%> "
                                        alt="imagen de producto">
                                </a>
                                <% } else {%>
                                    <a href="/products/detail/<%= products[i].id %> ">
                                        <img src="/img/products/default.jpg" alt="imagen de producto"></a>
                                    <% }%>
                        </div>
                        <div class="product-description">
                            <p class="desc-height">
                                <%= products[i].nombre%>
                            </p>
                            <p class="price">
                                <%= products[i].precio ? (Number(products[i].precio)).toLocaleString('es-AR',
                                    {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency' ,
                                    currency: 'ARS' }) : "CONSULTAR" %>
                            </p>
                        </div>
                        <div>
                            <form action="/products/cart/<%=products[i].id%>?_method=put" method="post">
                                <button type="submit" class="info-btn" <%=!products[i].precio ? "disabled" :
                                    ((products[i].cantidad_real - products[i].cantidad_en_pedido) < 1) ? "disabled" : ""
                                    %>>COMPRAR</button>
                                <% if ((products[i].cantidad_real - products[i].cantidad_en_pedido) < 1) { %>
                                    <p class="warning"> Sin Stock</p>
                                    <% } else {%>
                                        <select class="product-quantity" name="cantidad" id="productAmount" hidden>
                                            <option value="1" selected hidden></option>
                                        </select>
                                        <% } %>
                            </form>
                        </div>
                    </article>
                    <% } %>
            </section>

            <article class="icon llamar">
                <i class="fas fa-phone-alt"></i>
            </article>
            <% } else { %>

                <p style="text-align: center; margin: 40px auto;"><b>NO SE ENCONTRARON PRODUCTOS</b></p>
                <% } %>
    </main>

    <%- include('../partials/footer')%>

</body>

</html>