<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/productsList.css">
</head>

<body>
    <header>
        <%- include('../partials/header')%>
    </header>

    <main>
        <div class="titleBar">
            <p class="titleBarImage">Imagen</p>
            <p class="titleBarName">Nombre</p>
            <p class="titleBarDescription">Marca</p>
            <p class="titleBarHighlighted">Destacado</p>
            <p class="titleBarPrice">Precio</p>
            <p class="titleBarActions">Acciones</p>
        </div>
        <% for( let i=0; i < productsL.length; i++ ) {%>
            <div>
                <article>
                    <% if (productsL[i].imagenes.length> 0) { %>
                        <a href="/products/detail/<%= productsL[i].id %> "><img
                                src="/img/products/<%= productsL[i].imagenes[0].imagen %> " alt="imagen 0"></a>
                        <% } else {%>
                            <a href="/products/detail/<%= productsL[i].id %> "><img src="/img/products/default.jpg"
                                    alt="imagen default"></a>
                            <% }%>
                                <p class="nombre">
                                    <%= productsL[i].nombre %>
                                </p>
                                <p>
                                    <%= productsL[i].marca.nombre %>
                                </p>
                                <form class="highlightedForm"
                                    action="/products/edit/highlighted/<%=productsL[i].id%>?_method=put" method="post">
                                    <input type="checkbox" name="highlighted" class="highlighted"
                                        value="true"
                                        <%=productsL[i].descuento_oferta ? 'checked' : "" %> >
                                    <!-- <button type="submit" class="highlightedButton">
                                        <%= productsL[i].descuento_oferta ? "quitar" : "destacar" %>
                                    </button> -->
                                </form>
                                <div class="price">
                                    <p>
                                        <%= (Number(productsL[i].precio)).toLocaleString('es-AR',
                                            {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency' ,
                                            currency: 'ARS' }) %> %>
                                    </p>
                                    <form action="/products/edit/price/<%=productsL[i].id%>?_method=put" method="post">
                                        <label for="price">Nuevo precio:</label>
                                        <input type="number" name="price" id="price" value="<%= productsL[i].precio %>">
                                        <button type="submit" class="priceButton">cambiar</button>
                                    </form>
                                </div>
                                <a class="editButton" href="<%= `/products/edit/${productsL[i].id}` %> ">Editar</a>
                                <form  class="deleteProductList"
                                    action="/products/delete/<%=productsL[i].id%>?_method=delete" method="post">
                                    <button class="deleteSubmitButton" type="submit">Eliminar</button>
                                </form>
                </article>
            </div>
            <% } %>

                <script>let deleteSubmit = document.querySelectorAll(".deleteProductList");
                    deleteSubmit.forEach(delSub => delSub.addEventListener("submit", function (evt) {
                        evt.preventDefault()
                        let sureDelete = confirm("Seguro desea eliminar el producto ??")
                        if (sureDelete) {
                            delSub.submit()
                        }
                    }))
                </script>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>