<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/styles-form.css">
        <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>

    <%- include('../partials/header')%>


        <main>
            <section>
                <h2>Carrito de Compras: </h2>
                <div class="content-cart">
                    <% if (cart) { %>
                        <table class="table table-secondary">
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Acciones</th>
                            </tr>
                            <% for( let i=0; i < cart.length; i++ ) { %>
                                <tr class="table-light">
                                    <td class="cartimg">
                                        <% if (cart[i].producto.imagenes.length>0){ %>
                                            <a href="/products/detail/<%= cart[i].producto.id %> "><img
                                                    src="/img/products/<%=cart[i].producto.imagenes[0].imagen%>"
                                                    alt="imagen producto" class="product-image"></a>
                                            <% } else {%>
                                                <a href="/products/detail/<%= cart[i].producto.id %> "><img
                                                        src="/img/products/default.jpg" alt="imagen producto"
                                                        class="product-image"></a>
                                                <% } %>
                                    </td>
                                    <td>
                                        <%=cart[i].producto.nombre%>
                                    </td>
                                    <td>
                                        <form class="product-quantity-form"
                                            action="/products/cart/edit/<%=cart[i].id%>/<%=cart[i].producto_id%>?_method=put"
                                            method="post">
                                            <select class="product-quantity" name="productquantity"
                                                id="product-quantity">
                                                <% for( let j=0; j < (cart[i].producto.cantidad_real -
                                                    cart[i].producto.cantidad_en_pedido + cart[i].cantidad); j++ ) { %>
                                                    <option value="<%= j +1 %>" class="product-quantity-value"
                                                        <%=cart[i].cantidad==j + 1 ? 'selected' : "" %> >
                                                        <%= j +1 %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                    </td>
                                    <td>
                                        <%=(Number(cart[i].producto.precio * cart[i].cantidad)).toLocaleString('es-AR',
                                            {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency' ,
                                            currency: 'ARS' })%>
                                    </td>
                                    <td>
                                        <!--<button type="submit" class="btn btn-primary">Editar</button>-->
                                        </form>
                                        <form class="deleteProductList"
                                            action="/products/cart/delete/<%=cart[i].id%>/<%=cart[i].producto_id%>?_method=delete"
                                            method="post">
                                            <button type="submit" class="btn btn-danger"
                                                id="delete-submit">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </table>
                        <% } else { %>
                            <div class="emptyCart">
                                <p>TU CARRITO ESTA VACIO</p>
                            </div>
                            <% } %>
                                <% if (account) {%>
                                    <div class="product-price">
                                        <!-- <h3 class="product-price-cost">
                                        <%=(Number(account.total())).toLocaleString('es-AR', {minimumFractionDigits: 2,
                                            maximumFractionDigits: 2, style: 'currency' , currency: 'ARS' })%>
                                    </h3> -->
                                        <div class="product-detail-cost">
                                            <h4 class="product-subTotal">Subtotal
                                                <%=(Number(account.total() -
                                                    account.impuestos())).toLocaleString('es-AR',
                                                    {minimumFractionDigits: 2, maximumFractionDigits: 2,
                                                    style: 'currency' , currency: 'ARS' })%>
                                            </h4>
                                            <h4 class="product-tax">Impuestos
                                                <%=(Number(account.impuestos())).toLocaleString('es-AR',
                                                    {minimumFractionDigits: 2, maximumFractionDigits: 2,
                                                    style: 'currency' , currency: 'ARS' })%>
                                            </h4>
                                            <h4 class="product-shipping">Envio <%=(Number(0).toLocaleString('es-AR',
                                                    {minimumFractionDigits: 2, maximumFractionDigits: 2,
                                                    style: 'currency' , currency: 'ARS' }))%>
                                            </h4>
                                        </div>
                                        <div class="product-cost-total">
                                            <!--<h4 class="product-discount">Descuentos</h4>-->
                                            <h2 class="product-total">
                                                <%=(Number(account.total())).toLocaleString('es-AR',
                                                    {minimumFractionDigits: 2, maximumFractionDigits: 2,
                                                    style: 'currency' , currency: 'ARS' })%>
                                            </h2>
                                        </div>
                                        <form action="/products/cart/buy" method="post"><button type="submit"
                                                class="product-buy">Comprar</button></form>
                                    </div>
                                    <% } %>
                </div>
            </section>
        </main>
        <script>
            let deleteSubmit = document.querySelectorAll(".deleteProductList");
            deleteSubmit.forEach(delSub => delSub.addEventListener("submit", function (evt) {
                evt.preventDefault()
                let sureDelete = confirm("Seguro desea eliminar el producto ??")
                if (sureDelete) {
                    delSub.submit()
                }
            }))
            let quantity = document.querySelectorAll(".product-quantity")
            let quantityForm = document.querySelectorAll(".product-quantity-form")
            for (let i = 0; i < quantity.length; i++) {
                quantity[i].addEventListener("change", function () {
                    quantityForm[i].submit();
                });
            }
        </script>

        <%- include('../partials/footer')%>

</body>

</html>