<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header>
        <%- include('../partials/header')%> 
    </header>

    <main>
        <section class="products-display">
            <% for (let i = 0; i < products.length; i++) {%> 
                <article class="product-preview">
                    <div class="product-pic">
                        <a href="/products/detail/<%= products[i].id %> "><img src="/img/products/<%= products[i].img[0]%> " alt="imagen de producto"></a>
                    </div>
                    <div class="product-description">
                        <p><%= products[i].name%> </p>
                        <p class="price"><%= products[i].price ? (Number(products[i].price)).toLocaleString('es-AR', {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency', currency: 'ARS'}) : "CONSULTAR" %> </p>
                    </div>
                    <div class="info-btn">
                        <a href="/products/detail/<%=products[i].id%> ">COMPRAR</a>
                    </div>
                </article>
            <% } %> 
        </section>

        <article class="icon llamar">
            <i class="fas fa-phone-alt"></i>
        </article>

    </main>

    <%- include('../partials/footer')%>

</body>
</html>