<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    <title>Crear producto</title>
    <link rel="stylesheet" href="/css/productCreate.css">
</head>
<body>
    <header>
        <%- include('../partials/header')%> 
    </header>

    <main>
        <h2 class="createTitle">Crear Producto</h2>
        <form class="createForm" action="/products/create" method="POST" enctype="multipart/form-data">
            <div class="productName">
                <input type="text" name="productName" id="productName" placeholder="Nombre de Producto" value="<%= locals.oldData && oldData.productName ? oldData.productName : null  %>">
                <% if (locals.errors && errors.productName) { %>
                 <p class="inputError"><%= errors.productName.msg%> </p>
                <% } %>
            </div>
            <div class="productTopEspecs">
                <input type="text" name="productTopSpec1" id="productTopSpec1" placeholder="Principal característica" value="<%= locals.oldData && oldData.productTopSpec1 ? oldData.productTopSpec1 : null  %>">
                <input type="text" name="productTopSpec2" id="productTopSpec2" placeholder="Principal característica" value="<%= locals.oldData && oldData.productTopSpec2 ? oldData.productTopSpec2 : null  %>">
                <input type="text" name="productTopSpec3" id="productTopSpec3" placeholder="Principal característica" value="<%= locals.oldData && oldData.productTopSpec3 ? oldData.productTopSpec3 : null  %>">
                <input type="text" name="productTopSpec4" id="productTopSpec4" placeholder="Principal característica" value="<%= locals.oldData && oldData.productTopSpec4 ? oldData.productTopSpec4 : null  %>">
            </div>
            <div class="productName">
                <% if (locals.errors && errors.productTopSpec1) { %>
                    <p class="inputError"><%= errors.productTopSpec1.msg %> </p>
                   <% } %>
            </div>
            <div class="productDescription">
                <textarea class="productDescription" name="productDescription" id="productDescription" cols="60" rows="4" placeholder="Descripcion ampliada del producto"><%= locals.oldData && oldData.productDescription ? oldData.productDescription : ''  %></textarea>
                <!-- <input type="text" name="productDescription" id="productDescription"  placeholder="Descripción ampliada"> -->
                <% if (locals.errors && errors.productDescription) { %>
                    <p class="inputError"><%= errors.productDescription.msg %> </p>
                   <% } %>
                </div>
            <div class="productImg">
                <span>Imágenes<input type="file" name="productImg" id="productImg" multiple ></span>
                <% if (locals.errors && errors.productImg) { %>
                    <p class="inputError"><%= errors.productImg.msg %> </p>
                   <% } %>
            </div>
            <div class="productCategory">
                <select name="productCategory" id="productCategory"  class="categorySelect">
                    <option value="" disabled selected hidden>Categoria</option>
                    <option value="cpu" <%= locals.oldData && (oldData.productCategory === "cpu") ? "selected" : ''  %>>Procesadores</option>
                    <option value="motherboards" <%= locals.oldData && (oldData.productCategory === "motherboards") ? "selected" : ''  %>>Motherboards</option>
                    <option value="memories" <%= locals.oldData && (oldData.productCategory === "memories") ? "selected" : ''  %>>Memorias</option>
                    <option value="storage" <%= locals.oldData && (oldData.productCategory === "storage") ? "selected" : ''  %>>Almacenamiento</option>
                </select>
                <% if (locals.errors && errors.productCategory) { %>
                    <p class="inputError"><%= errors.productCategory.msg %> </p>
                   <% } %>
            </div>
            <div class="productPrice">
                <input type="number" name="productPrice" id="productPrice" placeholder="Precio" value="<%= locals.oldData && oldData.productPrice ? oldData.productPrice : ''  %>">
                <% if (locals.errors && errors.productPrice) { %>
                    <p class="inputError"><%= errors.productPrice.msg %> </p>
                   <% } %>
            </div>
            <div class="productPrice">
                <label for="highlighted" class="highlighted">Producto destacado</label>
                <input type="checkbox" name="highlighted" id="highlighted"  class="highlighted" value="true" <%= locals.oldData && (oldData.highlighted == true) ? "checked" : ''  %>>
            </div>
            <button type="submit" class="productSubmit" >Crear</button>
        </form>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>